@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');


/*in the end*/
/*create forms to wrap buttons*/
/*try do replace position:absolute*/
/*play with form-tag*/
/*check accessibility (alt-tags, aria-tags)*/
/*delete comments*/

/*for test*/
.test {
    font-family: 'Nunito Sans';
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
.container {
    width: 1256px;
    margin: auto;
}
.button {
    background: #E3B873;
    border: 0;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin: 0;
}
.subtitle {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.button_header {
    /*padding: 13px 33px;*/
    font-style: italic;
    height: 37px;
    width: 161px;
}
.header {
    background: #131313;
    height: 83px;
    display: flex;
    margin: 0;
}
.container_header {
    display: flex;
    align-items: center;
    height: 37px;
}
.navigation {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin-right: 55px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.navigation__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 47px;
}
.logo {
    width: 180px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 95px;
}
.tel-number {
    color: #E3B873;
    margin-right: 45px;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.main-project {
    height: 707px;
    background-image: url('../images/main-project.png');
    background-size: cover;
    padding-top: 194px;
    position: relative;
    z-index: -2;
}
.overlay_main-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.7);
}
.title_main-project {
    letter-spacing: normal;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 53px;
    height: 105px;
    width: 676px;
}
.container_main-project {

}
.paragraph_main-project {
    height: 89px;
    width: 505px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 19px 0 41px 0;
}
.button_main-project_calc, .button_main-project_submit {
    height: 51px;
    width: 207px;
    font-style: italic;

}
.button_main-project_submit {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: none;
    margin-left: 20px;
}

/*keep
 at
 the end!*/

.text_colored-sand {
    color: #E3B873;
}